# --------------------------------------------------
# Environment
# --------------------------------------------------
# dev | qa ... etc
EXPO_PUBLIC_ENV=

# --------------------------------------------------
# Backend
# --------------------------------------------------
EXPO_PUBLIC_BASE_URL=

# --------------------------------------------------
# App Metadata
# --------------------------------------------------
EXPO_PUBLIC_DISPLAY_NAME=
EXPO_PUBLIC_APP_VERSION=

# --------------------------------------------------
# Build Numbers
# --------------------------------------------------
EXPO_PUBLIC_ANDROID_VERSION_CODE=
EXPO_PUBLIC_IOS_BUILD_NUMBER=
