# The login password for the macOS desktop user account
MATCH_KEYCHAIN_PASSWORD=""

# The base URL of the application source code repository
REPO_BASE_URL=""

# action: app_store_connect_api_key
# The 10-character Key ID from App Store Connect
APP_STORE_CONNECT_API_KEY_KEY_ID=""
# The Issuer ID (UUID) from the App Store Connect API page
APP_STORE_CONNECT_API_KEY_ISSUER_ID=""
# The local file path to the .p8 authentication key file
APP_STORE_CONNECT_API_KEY_KEY_FILEPATH=""